@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    margin:0;
    padding:0;
    font-family:rubik;
    overflow:hidden;
}
body {
    background-image:linear-gradient(to right bottom, purple, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.poem {
    display:flex;
    width:calc(100vh / 3);
    height:50px;
    background-color:white;
    transition: 0.4s all ease;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight:500;
    box-shadow: 0 0 8px black;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    flex-direction: column;
}
.poem:hover {
    box-shadow:0 0 25px black;
    transition: 0.2s all ease;
}





.title {
    font-size:30pt;
    text-align:center;
    margin-top:15px;
}
.paragraph {
    font-family:poppins;
    padding:20px;
    background-color: white;
    border-radius: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:100vh;
    overflow:hidden;
    padding:20px;
}